<!DOCTYPE html>
<html lang="es"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/master :: head">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Editar Pelicula | MovieApp</title>
    </head>
    <body>
        
        <!--inject header from master-->
        <header th:replace="/master :: header"></header>

        <section th:insert="admin/_form :: content"></section>
    </body>
</html>

